body{
    background-color: #97B067;
}
h1{
    color:#E5E0D8;
    text-align: center;
    font-size: 60px;
}
p{
    color: #D6D85D;
    text-align: center;
    font-size: 40px;
}
img{
    width: 30%;
    margin-left: 660px;
}